body {
  background-color: #653517;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.as-espadas-bg {
  position: absolute;
  top: 520px;
  left: -207px;

  width: 324.438px;
  height: 473.632px;
  transform: rotate(-42.266deg);
  flex-shrink: 0;
  opacity: 0.04;
  pointer-events: none;
}

.bg-box-login {
  position: absolute;
  top: 208px;
  right: 40px;

  width: 331px;
  height: 501px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #43220d;
}

.logo-login {
  display: block;
  margin: 0 auto;
  margin-top: -165px;

  width: 181px;
  height: 272px;
  flex-shrink: 0;
  aspect-ratio: 181/272;
}

.entrar-text-login {
  display: block;
  margin: 0 auto;
  margin-top: -50px;

  width: 98;
  height: 40;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  color: #f2b832;
  text-align: center;
  font-size: 33px;
  line-height: normal;
}

.box-email-login {
  display: block;
  margin: 0 auto;
  margin-top: 58px;

  width: 280px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #653517;
  background-color: transparent;
  padding-left: 40px;
  box-sizing: border-box;

  color: #f2b832;
  font-family: "Inter";
  font-size: 16px;
}

.box-email-login::placeholder {
  color: rgba(242, 184, 50, 0.3);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box-email-login:focus {
  outline: none;
  box-shadow: none;
}

.text-box-email {
  position: absolute;
  top: 113px;
  left: 28px;

  color: #f2b832;
  text-align: center;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.email-icon {
  position: absolute;
  top: 170px;
  left: 40px;
  width: 16px;
  height: 12px;
  flex-shrink: 0;
}

.text-box-senha {
  position: absolute;
  top: 208px;
  left: 28px;

  color: #f2b832;
  text-align: center;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box-senha-login {
  display: block;
  margin: 0 auto;
  margin-top: 54px;

  width: 280px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #653517;
  background-color: transparent;
  padding-left: 40px;
  box-sizing: border-box;

  color: #f2b832;
  font-family: "Inter";
  font-size: 16px;
}

.box-senha-login::placeholder {
  color: rgba(242, 184, 50, 0.3);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box-senha-login:focus {
  outline: none;
  box-shadow: none;
}

.senha-icon {
  position: absolute;
  top: 262px;
  left: 41px;
  width: 14px;
  height: 16px;
  flex-shrink: 0;
}

#entrar-button {
  display: block;
  margin: 0 auto;
  margin-top: 25px;

  width: 280px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #653517;

  color: #f2b832;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease;
}

#entrar-button:active {
  box-shadow: 20 2px 3px rgba(0, 0, 0, 0.25);
  background-color: #5a2e15;
}

#esqueceu-senha {
  display: block;
  margin: 0 auto;
  margin-top: 26px;

  color: #f2b832;
  text-align: center;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.nao-tem-uma-conta {
  display: block;
  margin: 0 auto;
  margin-top: 20px;

  color: #f2b832;
  text-align: center;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#criar-conta {
  display: block;
  margin: 0 auto;
  margin-top: 3px;

  color: #f2b832;
  text-align: center;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
